<a href="https://colab.research.google.com/github/zaafirrahman/python-algorithmics/blob/main/13List%26Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
item = ['Sepatu', 'Tas', 'HP', 'Pulpen']
kata = 'python'

print(item[2])
print(kata[3])

Pulpen
h

In [ ]:
#Mengambil nilai list

barang = ['Sepatu', 'Tas', 'HP', 'Pulpen']
harga = [1000, 3000, 6500, 250]

print(barang[1:3])
print(harga[2:4])

['Tas', 'HP']
[6500, 250]

In [ ]:
#Menambah, menghapus, dan menyortir list

nama = ['Nathan', 'Abram', 'There', 'Gwen', 'Hafiz']

nama.append('Aisyah')
nama.remove('Aisyah')
nama.sort()
print(nama)

['Abram', 'Gwen', 'Hafiz', 'Nathan', 'There']

In [ ]:
grup = []
orang = input('Masukkan nama (0 - stop): ')
while orang != '0':
   grup.append(orang)
   orang = input('Masukkan nama (0 - stop): ')
print('Grup telah dibuat:', grup)

Masukkan nama (0 - stop): gwen
Masukkan nama (0 - stop): there
Masukkan nama (0 - stop): hafiz
Masukkan nama (0 - stop): abram
Masukkan nama (0 - stop): nathan
Masukkan nama (0 - stop): 0
Grup telah dibuat: ['gwen', 'there', 'hafiz', 'abram', 'nathan']

In [ ]:

grup2  = ['ADMIN']
peserta = input('Masukkan nama (0 - stop): ')
while peserta != '0':
  if peserta in grup2:
      print('Peserta sudah terdaftar')
  else:
      grup2.append(peserta)
  peserta = input('Masukkan nama (0 - stop): ')

grup2.sort()
print('Grup telah diketik:', grup2)

Peserta sudah terdaftar

KeyboardInterrupt: Interrupted by user

In [ ]:
results = [225, 220, 199, 263, 259, 225, 226]
average = 0
maks = 0

for i in results:
  average += i
  if maks < i:
      maks = i

average = average / len(results)
print('Hasil:', results)
print('Hasil rata-rata:', average)
print('Hasil maksimum:', maks)

Hasil: [225, 220, 199, 263, 259, 225, 226]
Hasil rata-rata: 231.0
Hasil maksimum: 263

In [ ]:
#Mencari informasi list

results2 = [225, 220, 199, 263, 259, 225, 226]

average2 = sum(results2) / len(results2)
max2 = max(results2)

print('Hasil:', results2)
print('Hasil rata-rata:', average2)
print('Hasil maksimum:', max2)

Hasil: [225, 220, 199, 263, 259, 225, 226]
Hasil rata-rata: 231.0
Hasil maksimum: 263

In [ ]:
data = [20, 80, 40, 30]
print(max(data))
print(min(data))

80
20

In [ ]:
#Memisah dan menggabung list

angka = input('Masukkan angka (pisahkan dengan spasi): ')
angka = angka.split('-')
print(angka)
print(' '.join(angka))

Masukkan angka (pisahkan dengan spasi): 1-4-7
['1', '4', '7']
1 4 7

In [ ]:
barang = input('Masukkan barang (pisahkan dengan spasi): ')
barang = barang.split('-')
print(barang)
print(' '.join(barang))

Masukkan barang (pisahkan dengan spasi): a-b-c-d-e
['a', 'b', 'c', 'd', 'e']
a b c d e

In [ ]:
#Menjumlah dan mengalikan list (seperti string)

contoh1 = [1, 2, 3, 4, 5]
contoh2 = [6, 7, 8, 9, 10]

print(contoh1 + contoh2)
print(contoh1 * 3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#Mengoperasikan nilai iterable dalam list

score = ['34', '22', '79', '81', '50', '71']
for i in range(len(score)):
   score[i] = int(score[i])
print(score)

[34, 22, 79, 81, 50, 71]

In [ ]:
score2 = ['34', '22', '79', '81', '50', '71']
score_new = list(map(int, score))
print(score_new)

[34, 22, 79, 81, 50, 71]

In [ ]:
#Tuple

identitas = ('Zaafir', 'Medan', '81584824947')

print(identitas)

('Zaafir', 'Medan', '81584824947')