<a href="https://colab.research.google.com/github/zaafirrahman/python-algorithmics/blob/main/13List%26Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
item = ['Sepatu', 'Tas', 'HP', 'Pulpen']
kata = 'python'

print(item[3])
print(kata[5])

Pulpen
n

In [4]:
#Mengambil nilai list

barang = ['Sepatu', 'Tas', 'HP', 'Pulpen']
harga = [1000, 3000, 6500, 250]

print(barang[0:2])
print(harga[1:3])

['Sepatu', 'Tas']
[3000, 6500]

In [12]:
#Menambah, menghapus, dan menyortir list

nama = ['ayam','sapi','domba', 'kucing', 'kudanil']

nama.append('cacing')
nama.remove('sapi')
nama.sort()
print(nama)

['ayam', 'cacing', 'domba', 'kucing', 'kudanil']

In [15]:
grup = []

orang = input('Masukkan nama (0 - stop): ')

while orang != '0':
   grup.append(orang)
   orang = input('Masukkan nama (0 - stop): ')

print('Grup telah dibuat:', grup)

Masukkan nama (0 - stop): zaky
Masukkan nama (0 - stop): karina
Masukkan nama (0 - stop): angeline
Masukkan nama (0 - stop): rayan
Masukkan nama (0 - stop): 0
Grup telah dibuat: ['zaky', 'karina', 'angeline', 'rayan']

In [ ]:

grup2  = ['ADMIN']
peserta = input('Masukkan nama (0 - stop): ')
while peserta != '0':
  if peserta in grup2:
      print('Peserta sudah terdaftar')
  else:
      grup2.append(peserta)
  peserta = input('Masukkan nama (0 - stop): ')

grup2.sort()
print('Grup telah diketik:', grup2)

Peserta sudah terdaftar

KeyboardInterrupt: Interrupted by user

In [ ]:
results = [225, 220, 199, 263, 259, 225, 226]
average = 0
maks = 0

for i in results:
  average += i
  if maks < i:
      maks = i

average = average / len(results)
print('Hasil:', results)
print('Hasil rata-rata:', average)
print('Hasil maksimum:', maks)

Hasil: [225, 220, 199, 263, 259, 225, 226]
Hasil rata-rata: 231.0
Hasil maksimum: 263

In [14]:
#Mencari informasi list

results2 = [225, 220, 199, 263, 259, 225, 226]

average2 = sum(results2) / len(results2)
max2 = min(results2)

print('Hasil:', results2)
print('Hasil rata-rata:', average2)
print('Hasil minimum:', max2)

Hasil: [225, 220, 199, 263, 259, 225, 226]
Hasil rata-rata: 231.0
Hasil minimum: 199

In [ ]:
data = [20, 80, 40, 30]
print(max(data))
print(min(data))

80
20

In [21]:
#Memisah dan menggabung list

angka = input('Masukkan angka (pisahkan dengan spasi): ')
angka = angka.split(' ')
print(angka)
print('-'.join(angka))

Masukkan angka (pisahkan dengan spasi): a b c d
['a', 'b', 'c', 'd']
a-b-c-d

In [ ]:
barang = input('Masukkan barang (pisahkan dengan spasi): ')
barang = barang.split('-')
print(barang)
print(' '.join(barang))

Masukkan barang (pisahkan dengan spasi): a-b-c-d-e
['a', 'b', 'c', 'd', 'e']
a b c d e

In [ ]:
#Menjumlah dan mengalikan list (seperti string)

contoh1 = [1, 2, 3, 4, 5]
contoh2 = [6, 7, 8, 9, 10]

print(contoh1 + contoh2)
print(contoh1 * 3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#Mengoperasikan nilai iterable dalam list

score = ['34', '22', '79', '81', '50', '71']
for i in range(len(score)):
   score[i] = int(score[i])
print(score)

[34, 22, 79, 81, 50, 71]

In [ ]:
score2 = ['34', '22', '79', '81', '50', '71']
score_new = list(map(int, score2))
print(score_new)

[34, 22, 79, 81, 50, 71]

In [ ]:
#Tuple

identitas = ('Zaafir', 'Medan', '81584824947')

print(identitas)

('Zaafir', 'Medan', '81584824947')