<a href="https://colab.research.google.com/github/zaafirrahman/python-algorithmics/blob/main/2Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 3
y = 5
z = 2

print(x + y - z + x)

6

In [ ]:
nama = 'Azka'
usia = 13
les = 'Math'

print('Halo nama saya', nama, 'usia saya', usia, 'tahun, dan saya ikut kursus', les)

Halo nama saya Azka usia saya 13 tahun, dan saya ikut les Math

In [ ]:
a = 2.5 #float (float)
b = 1000 #integer (int)
c = '6' #string (str)

print(int('5') + 7)

12

In [ ]:
kelas = 7
nama_Lengkap = 'Azka Mawlana'
ANGKA = 6
angk4 = 8

SyntaxError: invalid syntax (ipython-input-117629264.py, line 2)

In [ ]:
nama_klien = 'Naura'
harga = 10000
jumlah_tiket = 5

print('Nama klien adalah:', nama_klien)
print('Total harga tiket:', harga * jumlah_tiket)

Nama klien adalah: Naura
Total harga tiket: 50000

In [ ]:
namaLengkap = 'Karina Lianda'
print(namaLengkap)

Karina Lianda

In [ ]:
x = 'Angeline'
x = 'Rayan'

print(x)

Rayan

In [ ]:
Biodata = 'Rayan'
CONSTANT = 5

In [ ]:
bilanganPertama = 10
print(bilanganPertama)

10

In [ ]:
nama_orang = 'Zaky'

print('Nama saya', nama_orang)

Nama saya Zaky

In [ ]:
nama = 'Karina'
usia = 14

print(f'Nama dia adalah {nama} usianya adalah {usia} tahun')

Nama dia adalah Karina usianya adalah 14 tahun

In [ ]:
harga = 19000
diskon = 1500

total = harga-diskon
print(total)

Masukkan harga: 30000
25500.0

In [ ]:
kursus = 'Python'
peserta = 5

print(f'Terdapat {peserta} murid di kelas {kursus}')

Terdapat 5 murid di kelas Python

In [ ]:
print(5+3)

8

In [ ]:
hari = 22
gaji_harian = 1000
gaji_harian = 2000
total = gaji_harian * hari

print(total)

44000

In [ ]:
makanan = input('Masukkan makanan kesukaan Anda: ')

print('Makanan kesukaanmu adalah', makanan)

Masukkan makanan kesukaan Anda: cilok
Makanan kesukaanmu adalah cilok

In [ ]:
angka = int(input('Masukkan angka: '))

print(angka + 7)

Masukkan angka: 5
12

In [ ]:
angka1 = int(input('Masukkan angka pertama: '))
angka2 = int(input('Masukkan angka kedua: '))

print('Hasilnya adalah', angka1 - angka2)

Masukkan angka pertama: 12
Masukkan angka kedua: 25
Hasilnya adalah -13

In [ ]:
makanan = input('Sebutkan makanan kesukaanmu: ')

print('Makanan kesukaanmu adalah', makanan)

In [ ]:
x = input('Masukkan angka: ')
x = float(x)
hasil = x + 2

print('Hasilnya adalah', hasil)

Masukkan angka: 10.7
Hasilnya adalah 12.7

In [ ]:
angka1 = int(input('Masukkan angka pertama '))
angka2 = int(input('Masukkan angka kedua '))

total = angka1 - angka2

print('Hasil penjumlahan:', total)

Masukkan angka pertama 12
Masukkan angka kedua 25
Hasil penjumlahan: -13

In [ ]:
course = input('Masukkan nama kursus : ')
student = input('Masukkan jumlah peserta: ')

print('Terdapat', student, 'murid di kelas', course)

Masukkan nama kursus : algonova
Masukkan jumlah peserta: 5400
Terdapat 5400 murid di kelas algonova

In [ ]:
tambahan_jasa = int(input('Harga dari jasa tambahan:'))
total = 2500 + tambahan_jasa
print('Harga total:', total)

Harga dari jasa tambahan:5000
Harga total: 7500

In [ ]:
angka1 = int(input('Masukkan angka pertama:'))
angka2 = int(input('Masukkan angka kedua:'))

total = angka1 + angka2

print('Hasil penjumlahan:', total)

In [ ]:
b = input('masukan angka ')
b = int(b)

masukan angka 5

In [ ]:
int(input('Masukkan angka pertama:'))