<a href="https://colab.research.google.com/github/zaafirrahman/python-algorithmics/blob/main/2Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama_klien = 'Rayan'
harga = 1990
jumlah_tiket = 6

print(nama_klien)
print(harga * jumlah_tiket)

Masukkan nama klien: Zaky
Masukkan jumlah tiket: 5
Nama klien adalah: Zaky
Total harga tiket: 9950

In [ ]:
namaLengkap = 'Karina Lianda'
print(namaLengkap)

Karina Lianda

In [ ]:
x = 'Angeline'
x = 'Rayan'

print(x)

Rayan

In [ ]:
Biodata = 'Rayan'
CONSTANT = 5

In [ ]:
bilanganPertama = 10
print(bilanganPertama)

10

In [ ]:
nama_orang = 'Zaky'

print('Nama saya', nama_orang)

Nama saya Zaky

In [ ]:
nama = 'Karina'
usia = 14

print(f'Nama dia adalah {nama} usianya adalah {usia} tahun')

Nama dia adalah Karina usianya adalah 14 tahun

In [ ]:
harga = 19000
diskon = 1500

total = harga-diskon
print(total)

Masukkan harga: 30000
25500.0

In [ ]:
kursus = 'Python'
peserta = 5

print(f'Terdapat {peserta} murid di kelas {kursus}')

Terdapat 5 murid di kelas Python

In [ ]:
print(5+3)

8

In [ ]:
hari = 22
gaji_harian = 1000
gaji_harian = 2000
total = gaji_harian * hari

print(total)

44000

In [ ]:
makanan = input('Sebutkan makanan kesukaanmu: ')

print('Makanan kesukaanmu adalah', makanan)

Sebutkan makanan kesukaanmu: Nasi goreng
Makanan kesukaanmu adalah Nasi goreng

In [ ]:
x = input('Masukkan angka: ')
x = float(x)
hasil = x + 2

print('Hasilnya adalah', hasil)

Masukkan angka: 10.7
Hasilnya adalah 12.7

In [ ]:
angka1 = int(input('Masukkan angka pertama '))
angka2 = int(input('Masukkan angka kedua '))

total = angka1 + angka2

print('Hasil penjumlahan:', total)

Masukkan angka pertama 10
Masukkan angka kedua 15
Hasil penjumlahan: 25

In [ ]:
course = input('Masukkan nama kursus : ')
student = input('Masukkan jumlah peserta: ')

print('Terdapat', student, 'murid di kelas', course)

Masukkan nama kursus : Python
Masukkan jumlah peserta: 4
Terdapat 4 murid di kelas Python

In [ ]:
tambahan_jasa = int(input('Harga dari jasa tambahan:'))
total = 2500 + tambahan_jasa
print('Harga total:', total)

Harga dari jasa tambahan:5000
Harga total: 7500

In [ ]:
angka1 = int(input('Masukkan angka pertama:'))
angka2 = int(input('Masukkan angka kedua:'))

total = angka1 + angka2

print('Hasil penjumlahan:', total)

In [ ]:
b = input('masukan angka ')
b = int(b)

masukan angka 5

In [ ]:
int(input('Masukkan angka pertama:'))