<a href="https://colab.research.google.com/github/zaafirrahman/python-algorithmics/blob/main/3String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Mencari panjang string

feedback1 = input('Masukkan kata: ')
panjang = len(feedback1) #length

print('Panjang dari string adalah: ', panjang)

Masukkan kata: Baru-baru ini, keluarga kami tinggal di fasilitas rekreasi "Bunga Matahari". Tempatnya nyaman dengan meja yang baik; kami sangat menyukai okroshka di menu musim panas. Terdapat gym di bangunan sebelah. Saya datang ke sana untuk melakukan tinju pada sore hari, ketika anak-anak sedang menikmati polo air.
Panjang dari string adalah:  303

In [4]:
# Mengekstrak substring (slicing)

feedback2 = 'aku sedang makan'
nama = feedback2[11]

print(nama)

m

In [6]:
# Mengekstrak substring (slicing)

feedback = 'aku sedang makan'
nama = feedback[4:9]

print(nama)

sedan

In [10]:
# Mencari kata tertentu

feedback3 = 'saya bangun pagi setiap hari'
cari = feedback3.find('Pagi')

print(cari)

-1

In [14]:
# Mengubah string menjadi lowercase

feedback4 = 'Besok adalah Hari Minggu dan besok Saya libur'
feedback4_low = feedback4.lower()

#print(feedback4_low)

cari_low = feedback4_low.find('minggu')

print(cari_low)

18

In [ ]:
ulasan = input('Masukkan ulasan:')

ulasan_low = ulasan.lower()
negatif = ulasan_low.find('tida nyaman')

print(negatif)

Masukkan ulasan:SAYA MERASA TIDAK NYAMAN
-1

In [20]:
a = input('rating 1-5: ')
b = input('rating 1-5: ')

c = a*b

print(c)

rating 1-5: 3
rating 1-5: 4

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# str+str = gabungan
# str+int = err

# str*str = err
# str*int = perulangan

In [25]:
name = 'azka'
surname = 'mawlana'

result = name+surname


print(result)

azkamawlana