<a href="https://colab.research.google.com/github/zaafirrahman/python-algorithmics/blob/main/9Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def volume_segiempat(panjang, lebar, tinggi):
  print('Hasil volume adalah', panjang * lebar * tinggi)


volume_segiempat(2,3,4)
volume_segiempat(3,4,5)
volume_segiempat(4,5,6)

Hasil volume adalah 24
Hasil volume adalah 60
Hasil volume adalah 120

In [ ]:
def sapaan3(nama1, nama2):
  print('Halo,', nama1, 'dan juga', nama2)

n1 = input('Masukkan nama Anda: ')
n2 = input('Masukkan nama Anda: ')

sapaan3(n1,n2)

Masukkan nama Anda: karina
Masukkan nama Anda: angeline
Halo, karina dan angeline

In [ ]:
def tambah(angka1,angka2):
  print   (f'Jumlah dari {angka1} dan {angka2} adalah {angka1-angka2}')

tambah  (10, 13)
tambah (5,   7)
tambah (170,   5)

Jumlah dari 10 dan 13 adalah -3
Jumlah dari 5 dan 7 adalah -2
Jumlah dari 170 dan 5 adalah 165

In [ ]:
def luas(a,t):
  luas = 1/2*a*t
  return luas

hasil = luas(2,3)
hasil2 = luas(4,5)

print(hasil + hasil2)

13.0

In [ ]:
def volume(p,l,t):
  luas = p * l
  volume = luas * t
  return volume

print(volume(5,12,23))

1380

In [ ]:
def jumlah(angka1, angka2):
  hasil = angka1 + angka2
  return hasil

print(jumlah(3,9) + jumlah(10,10))
hasil1 = jumlah(6,7)

32

In [ ]:
def sapaan():
  print('Halo, selamat siang')
  print('Saya dari Bandung')
  print('Saya sedang belajar Python')



sapaan()

Halo, selamat siang
Saya dari Bandung
Saya sedang belajar Python

In [ ]:
print('Halo, selamat siang')

Halo, selamat siang

In [ ]:
def angka(number):
  if number > 0:
    return 'angka positif'
  elif number == 0:
    return 'angka nol'
  else:
    return 'angka negatif'

hasil0 = angka(-5)

print(hasil0)

angka negatif

In [ ]:
def perkalian(angka1,angka2):
  hasil = angka1 * angka2
  return hasil

a = perkalian(7,8)
print(a)

56

In [ ]:
def jumlah(a1,a2):
  total = a1 + a2
  print(total)

jumlah(10,20)
jumlah(5,9)
jumlah(6,7)
jumlah(90,200)
jumlah(40,31)

30
14
13
290
71

In [ ]:
def student_info(name, course, tahun):
    print(f'Siswa {name} belajar di kursus {course} pada tahun {tahun}')
    print('Siswa', name, 'belajar di kursus', course, 'pada tahun', tahun)

siswa = input('Nama: ')
kursus = input('Kursus: ')

student_info(siswa, kursus, 2025)

Nama: agi
Kursus: piton
Siswa agi belajar di kursus piton pada tahun 2025
Siswa agi belajar di kursus piton pada tahun 2025

In [ ]:
def cetak():
  print('Saya keren')

cetak()

Saya keren

In [ ]:
def hypotenuse(a,b):
  c = (a**2 + b**2)**0.5
  return c

alas = int(input("Masukkan alas: "))
tinggi = int(input("Masukkan tinggi: "))

miring = hypotenuse(alas,tinggi)

print("Panjang sisi miring adalah", miring)

Masukkan alas: 3
Masukkan tinggi: 4
Panjang sisi miring adalah 5.0
50.0

In [ ]:
def l_rectangle(width,height):
  area = width * height
  return area

def k_rectangle(width,height):
  cir = 2 * (width + height)
  return cir

panjang = int(input("Masukkan panjang: "))
lebar = int(input("Masukkan lebar: "))

luas = l_rectangle(panjang,lebar)
keliling = k_rectangle(panjang,lebar)

print("Luas persegi panjang adalah", luas)
print("Keliling persegi panjang adalah", keliling)

Masukkan panjang: 2
Masukkan lebar: 4
Luas persegi panjang adalah 8
Keliling persegi panjang adalah 12

In [ ]:
def check_test(score):
    if score >= 80:
        return True
    else:
        return False

amount = int(input('Masukkan jumlah peserta:'))
for i in range(amount):
    name = input('Masukkan nama:')
    score = int(input('Masukkan nilai ujian:'))
    res = check_test(score)
    print('Status kelulusan:', res)

Masukkan jumlah peserta:2
Masukkan nama:a
Masukkan nilai ujian:20
Status kelulusan: False
Masukkan nama:b
Masukkan nilai ujian:90
Status kelulusan: True

In [ ]:
def luas_persegi(panjang, lebar):
  luas = panjang * lebar
  return luas

c = 5
luas = luas_persegi(c,c)
print(luas)

25